PORT=9004
TZ=Europe/Madrid
PYTHONPATH=/apiroot

ARR_READ_BASE_URL=http://buscador-puente-arr:9003
BTDIGG_RD_TRACKING_FILE=/btdigg-rd-data/seguimiento_actual.json

RDT_BASE=http://rdtclient:6500
RDT_USER=CAMBIAR_EN_ENTORNO_REAL
RDT_PASS=CAMBIAR_EN_ENTORNO_REAL
QBIT_BASE=http://qbittorrent:8080
QBIT_USER=CAMBIAR_EN_ENTORNO_REAL
QBIT_PASS=CAMBIAR_EN_ENTORNO_REAL

DELAY_AUDIO_DATA_ROOT=/data
DELAY_AUDIO_MEDIA_ROOT=/media
DELAY_AUDIO_DOWNLOADS_ROOT=/data/downloads/torrents
DELAY_AUDIO_COMPLETE_ROOT=/data/downloads/torrents/complete
DELAY_AUDIO_QUEUE_ROOT=/data/downloads/torrents/queue
DELAY_AUDIO_COMPLETE_MOVIES_PATH=/data/downloads/torrents/complete/movies
DELAY_AUDIO_QUEUE_MOVIES_PATH=/data/downloads/torrents/queue/movies
DELAY_AUDIO_MEDIA_HOSPITAL_PATH=/media/Hospital
MEDIA_MOVE_ROOT=/media
